.bigWrapper {
    width: 1220px;
    margin: 2% auto;
}

.bigWrapper .wrapper {
    display: flex;
    justify-content: space-between;
  
}

.bigWrapper .wrapper .txt {
    display: flex;
    gap: 30px;
}

.bigWrapper .wrapper .txt1 {
    display: flex;
    gap: 30px;
}

hr {
    stroke-width: 1.205px;
    stroke: var(--primaty-grey-medium, #E0E0E0);
    margin-top: 20px;
    margin-bottom: 20px;
}


.bigWrapper .wrapper p {
    color: var(--primaty-grey-dark, #757575);
    font: 600 14px Montserrat;
   
}

.bigWrapper .miniWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.bigWrapper .miniWrapper .img {
    display: flex;
    justify-content: space-between;
}

.bigWrapper .miniWrapper .img .img30 {
    width: 30px;
    height: 24;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/Frame\ 30.svg);
    margin-right: 30px;
}

.bigWrapper .miniWrapper .img .img31 {
    width: 30px;
    height: 24;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/Frame\ 31.svg);
    margin-right: 30px;
}

.bigWrapper .miniWrapper .img .img33 {
    width: 30px;
    height: 24;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/Frame\ 33.svg);
    margin-right: 30px;
}

.bigWrapper .miniWrapper .end {
    color: var(--primaty-grey-dark, #757575);
    font: 600 12px Montserrat;
}