.wrapper {
    margin: auto;
    width: 1220px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h1 {
    color: #000;
    font: 400 16 Dela Gothic One;
}

.wrapper .btns {
    display: flex;
    align-items: center;
}

.wrapper .btns .login {
    width: 60px;
    height: 17px;
    color: #000;
    font: 700 16 Montserrat;

}

.wrapper .btns .reg {
   
    width: 106px;
    text-align: center;
    color: #FFF;
    font: 700 16 Montserrat;
    border-radius: 14px;
    background: #2B788B;
    padding: 13px 0px;
}